:root {
    --dark-gray: #cccccc;
    --light-gray: #f0f0f0
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1280px;
    font-family: "Tahoma", "sans-serif";
    font-size: 0.75em;
}

header {
    background-color: var(--dark-gray);
    nav {
        display: flex;
        a {
            &:link,
            &:visited {
                color: white;
                background-color: black;
                flex-grow: 1;
                text-decoration: none;
                font-size: 0.9em;
                padding: 0.2rem;
                text-align: center;
            }
            &:hover,
            &:focus-within {
                background-color: steelblue;
                color: white;
            }
        }
    }
    img {
        padding: 0.2rem;
    }

}



.header-list {
    display: flex;
    justify-content: space-between;
}

.header-search {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-right: 0.5rem;

    > * {
        height: min-content;
    }
}

a {
    &:link {
        color: blue;
    }
    &:visited {
        color: purple;
    }

    &:hover, &:focus-within {
        color: yellow;
        background-color: purple;
    }
}


main {
    background-color: var(--light-gray);
    padding: 0.5rem;
}

footer {
    text-align: center;
    background-color: var(--dark-gray);
    padding: 0.5rem;
    p {
        margin-top: 0.125rem;
        margin-bottom: 0;

        &.commit {
            color: gray;
        }
    }
}
