@import "_common.scss";
@import "_list.scss";

main {
    display: flex;
    gap: 0.5rem;
}

main > * {
    border: 1px solid var(--light-gray);
    outline: 1px solid var(--dark-gray);
}

main > img {
    max-height: 200px;
    max-width: 302px;
    object-fit: contain;
}

main > :not(img) {
    flex: 1;
}
